<router-outlet></router-outlet>


<!-- <script>

    //password
    document.getElementById("pass").addEventListener("input", (e) => {
        let value = e.target.value;
        e.target.value = value.replace(/[^A-Z\^a-z\d?=]/g,"");
        console.log(value);

    });

      //coreo
      document.getElementById("email").addEventListener("input", (e) => {
        let value = e.target.value;
        e.target.value = value.replace(/[^A-Z\^a-z\d.@]/g,"");
        console.log(value);

    });

       //nombre
       document.getElementById("usuario").addEventListener("input", (e) => {
        let value = e.target.value;
        e.target.value = value.replace(/[^A-Z\^a-z\d-]/g,"");
        if (value.length > 11) {
            alert("el usuario solo tiene 10 letras con numeros \n Usuario-00 ");
            e.target.value="";
        }
        console.log(value.length);

    });




</script> -->